<p>Adventure</p>
<p> Country: <%= @adventure.country() %> </p>
<p> Continent: <%= @adventure.continent()  %> </p>
<hr>

<p>Cities</p>
<% for city in @cities %>
<p>Name: <%= city.name() %> </p>
<p>Interest: <%= city.interest() %> </p>
<a href="/main/city/<%= city.id %>/change">Edit</a>
<form action="/main/city/<%= city.id %>/delete" method="POST">
  <input class="button" type="submit" value="Delete" />
</form>
<hr>
<% end  %>

<p>
  <p>Add some cities and sights to your adventure...<p/>
  <a href="/main/<%=@adventure.id%>/details/goals">Add goals</a>
</p>
