<h4><%= @visitor %>'s Adventures</h4>


<% for adventure in @adventures%>
<div class="row">
  <div class="adventures column">
    <h4>Visited</h4>
    <% if @visited.include?(adventure)%>
    <p>Country: <%= adventure.country() %> </p>
    <p>Continent: <%= adventure.continent() %> </p>
    <p>
      <a href="/main/<%= adventure.id %>/details">Details</a>
      <a href="/main/<%= adventure.id %>/edit">Edit</a>
      <form action="/main/<%= adventure.id %>/delete" method="POST">
        <input class="button" type="submit" value="Delete" />
      </form>
    </p>
    <hr/>
  </div>

  <h4>Planned</h4>
  <div class="adventures column">
    <%else %>
    <p>Country: <%= adventure.country() %> </p>
    <p>Continent: <%= adventure.continent() %> </p>
    <p>
      <a href="/main/<%= adventure.id/details %>">Details</a>
      <a href="/main/<%= adventure.id/edit %>">Edit</a>
      <a href="/main/<%= adventure.id %>/visited">Add visit</a>
      <form action="/main/<%= adventure.id %>/delete" method="POST">
        <input class="button" type="submit" value="Delete" />
      </form>
    </p>
    <hr/>
  </div>
</div>
    <% end %>
<% end %>
